/* Call to Action Button - jetzt bestellen */
.cta-button {
    display: inline-block;
    background: #2F00FF;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 10px;  /* Button-Rand*/
    font-weight: bold;
    transition: all 0.3s ease;
    animation: fadeInUp 1s ease 0.4s both;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}