/* Main Content */
main {
    margin-top: 100px;
    margin-bottom: 100px ;
}

section {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}